@font-face {
    font-family: myfont;
    src: url(../../../media/HACKED.ttf) format('truetype');
}

h3 {
    font-family: myfont;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
}

h5{
    font-family: myfont;
    text-align: center;
    padding: 0px;
    font-size: 20px;
    color: rgb(255, 0, 0);
    margin: 0 auto;
}

li{
    float: left;
    padding: 15px 40px;
}

li:hover{
    background-color: blueviolet;
}

li:active{
    background-color: magenta;
}

.right{
    float: right;
}

ul{
    list-style-type: none;
    font-family: myfont;
    font-size: 20px;
    margin: 0;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 110, 255);
    overflow: hidden;
    opacity: 0.85;
    border: 15px groove rgb(81, 255, 0);
}

a{
    display: inline-block;
    color: white;
    text-decoration-color: none;
}

.active{
    background-color: purple;
}

a:hover{
    background-color: white;
    color: black;
}

a:active{
    background-color: red;
}

body{
    background-color: black;
}
/*parallex effect*/
div{
    height: 500px;
    font-family: myfont;
}

.color{
    height: 200px;
    color: rgb(255, 255, 255);
}